03.WcfServices/DataServiceConsoleClient/Service References/ServiceReferenceDateExample/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12418/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
  <xs:element name="GetDayOfWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Globalization" minOccurs="0" name="cultureInfo" nillable="true" type="q1:CultureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayOfWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDayOfWeekResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>